* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
}

section {
    display: flex;
    flex-direction: row;
    margin: 4rem;
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
}

.image-container {
  position: relative;
  flex: 1;
  height: 400px;
  transition: flex 0.3s ease-in-out;
}

.image-container:first-child {
  flex: 1;
}

.image-container:nth-child(2) {
  flex: 1.5;
}

.image-container:last-child {
  flex: 1;
}

.image-container:hover {
  flex: 1.5;
}

.image-container:hover ~ .image-container:not(:hover) {
  flex: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: white;
}

h2 {
    padding: 2rem;
}

i {
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover i {
  opacity: 1;
}